<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag("aldo_dogblog.jpg") %>
	</div>

	<div id="content">
		<h1>Hola,  soy Aldo</h1>
		<p>Bienvenidos a mi blog</p>
		<p>Descubriremos, juntos, los mejores secretos de los perros</p>
		<p>Your, your right. I do understand. If I know too much about my own future I could endanger my own existence, just as you endangered yours. Of course not, Biff, now I wouldn't want that to happen. Now, uh, I'll finish those reports up tonight, and I'll run em them on over first thing tomorrow, alright? We do now. Let him go, Biff, you're drunk.

Of course, from a group of Libyan Nationalists. They wanted me to build them a bomb, so I took their plutonium and in turn gave them a shiny bomb case full of used pinball machine parts. Right check, Doc. Say that again. That was so stupid, Grandpa hit him with the car. I'd like you to meet my good friend George McFly.</p>
	</div>
</div>
